/**
 * @name Frosted Glass
 * @author Gibbu#1211
 * @version 2.2.0
 * @description Display your picture of choice with adjustable blur and brightness. Dark theme is required.
 * @invite ZHthyCw
 * @authorId 174868361040232448
 * @source https://github.com/DiscordStyles/FrostedGlass
 * @website https://gibbu.me/
*/

@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');

/* Old Windows titlebar - remove this @import if you wish to use default titlebar */
@import url("https://gibbu.github.io/BetterDiscord-Themes/addons/windows-titlebar.css");
:root {
  /*
   * Background image variables
   */
  --background-image: url("https://cdn.discordapp.com/attachments/695695897165692959/1128196239285026826/4ZMpvTX.jpg"); /* Main background image | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --background-image-blur: 8px; /* Blur intensity of --background-image | Must end in px | DEFAULT: 5px */
  --background-image-size: contain; /* Size of the background image | DEFAUT: cover | OPTIONS: cover, contain */
  --background-image-position: center; /* Position of background image | DEAFULT: center | OPTIONS: top, right, bottom, left, center */
  /*
   * User Popout variables
   * This will only affect the user profile (when clicking on a member in the members list)
   */
  --popout-image: var(--background-image); /* Background image for popouts and modals | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --popout-image-blur: 5px; /* Blur intensity of --popout-image | Must end in px | DEFAULT: 5px */
  --popout-image-size: cover; /* Size of the popout/modal image | DEFAUT: cover | OPTIONS: cover, contain */
  --popout-image-position: center; /* Position of popout/modal image | DEAFULT: center | OPTIONS: top, right, bottom, left, center */
  /*
   * Modal & Popout variables
   */
  --overlay-image: var(--background-image); /* Background image for popouts and modals | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --overlay-image-blur: var(--background-image-blur); /* Blur intensity of --overlay-image | Must end in px | DEFAULT: 5px */
  --overlay-image-size: var(--background-image-size); /* Size of the popout/modal image | DEFAUT: cover | OPTIONS: cover, contain */
  --overlay-image-position: var(--background-image-position); /* Position of popout/modal image | DEAFULT: center | OPTIONS: top, right, bottom, left, center */
  /*
   * Home image variables
   */
  --home-button-image: url("https://discordstyles.github.io/FrostedGlass/discord.svg"); /* Home button image | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --home-button-size: 60%; /* Size of the home button image | DEFAUT: cover */
  --home-button-position: center; /* Position of home button image | DEAFULT: center */
  /*
   * Brightness variables
   */
  --serverlist-brightness: 0.8; /* Brightness for serverlist | 0 - 1 (decimals allowed) | DEFAULT: 0.8 */
  --left-brightness: 0.8; /* Channels and DM list brightness | 0 - 1 (decimals allowed) | DEFAULT: 0.8 */
  --middle-brightness: 0.6; /* Chat brightness | 0 - 1 (decimals allowed) | DEFAULT: 0.6 */
  --right-brightness: 0; /* Members and Now Playing brightness | 0 - 1 (decimals allowed) | DEFAULT: 0 */
  --overlay-brightness: 0.75; /* Brightness for popouts and modals | 0 - 1 (decimals allowed) | DEFAULT: 0.75 */
  /*
   * Gradient variables
   */
  --gradient-primary: 103, 58, 183; /* DEFAULT: 103,58,183 */
  --gradient-secondary: 63, 81, 181; /* DEFAULT: 63,81,181 */
  --gradient-direction: 320deg; /* DEFAULT: 320deg */
  /*
   * Tint variables
   */
  --tint-colour: 255, 51, 159; /* Colour of tint | DEAFULT: 255,51,159 */
  --tint-brightness: 0; /* Brightness of --tint-colour | 0 - 1 (decimals allowed) | DEFAULT: 0 */
  /*
   * Other variables 
   */
  --window-padding: 8px; /* Spacing around the Discord window | DEFAULT: 20px */
  --window-roundness: 10px; /* Roundness of Discord | DEFAULT: 10px */
  --scrollbar-colour: rgb(255, 255, 255, 0.05); /* DEFAULT: rgb(255,255,255,0.05) */
  --link-colour: #00b0f4; /* DEFAULT: #00b0f4 */
  /*
  	--button-height: 32px;
	--button-padding: 0 16px;
	--button-action-color: #000;
	--button-radius: 16px; /*	-	*/
	.reaction-3vwAF2, .reaction-102jx9 {
--message-color: rgba(0,0,0,0.4);
  --message-color-hover: rgba(0,0,0,0.55);
  --message-radius: var(--app-radius);
  --message-padding-top: 8px;
  --message-padding-side: 8px;
  --mention-hue: var(--accent-hue);
  --mention-saturation: var(--accent-saturation);
  --mention-lightness: var(--accent-lightness);
  --mention-hsl: var(--mention-hue),calc(var(--mention-saturation) * var(--saturation-factor)),var(--mention-lightness);
  --mention-opacity: 1;
  --reply-hue: 226;
  --reply-saturation: 77.4%;
  --reply-lightness: 61.8%;
  --reply-hsl: var(--reply-hue),calc(var(--reply-saturation) * var(--saturation-factor)),var(--reply-lightness);
  --reply-opacity: 1;


/*
 *
 *  TITLE BAR
 *
 */
.titleBar-1it3bQ {
  height: 24px;
}
.titleBar-1it3bQ.typeMacOS-3V4xXE {
  top: var(--app-margin);
  left: var(--app-margin);
}
.titleBar-1it3bQ.typeMacOS-3V4xXE .macButtons-eIdy0e {
  width: 72px;
  border-top-left-radius: var(--app-radius);
}
.titleBar-1it3bQ.typeMacOS-3V4xXE .macButtons-eIdy0e .macButton-2M5W_9 {
  cursor: pointer;
}

.wordmarkWindows-2dq6rw {
  color: #fff;
}

.winButton-3UMjdg {
  height: 100%;
  top: 0;
  color: #fff;
}

.platform-osx .wrapper-1_HaEi {
  margin-top: 0;
  padding-top: 35px;
}
.platform-osx .tree-3agP2X {
  margin-top: 32px;
}

/*
 *
 *  FORUM
 *
 */
.container-3wLKDe {
  background-color: transparent !important;
}

.mainCard-3KBsBI {
  background-color: var(--card-color);
  border-radius: var(--card-radius);
  border: none;
}
.mainCard-3KBsBI.header-1Uy0p6 {
  border: none !important;
  box-shadow: none !important;
}
.mainCard-3KBsBI.headerWithMatchingPosts-1lTrVT {
  border-radius: var(--card-radius) var(--card-radius) 0 0;
}
.mainCard-3KBsBI .title-1v5ZfI .input-3O04eu {
  padding-left: 42px;
}

.searchIcon-2Nw0OL,
.closeIcon-3xe5xL {
  margin-left: 8px;
}

.matchingPostsRow-2IiEQ1 {
  background-color: var(--card-color);
  border-radius: 0 0 var(--card-radius) var(--card-radius);
}

/* FORUM -> TAGS */
.sortDropdown-hY93nR {
  margin-top: -1px;
  gap: unset;
}
.sortDropdown-hY93nR .sortDropdownInner-1kHAUi {
  color: var(--button-text-color);
}
.sortDropdown-hY93nR .sortDropdownText-3smleu {
  color: var(--button-text-color) !important;
}

.pill-3pRQlO {
  background-color: var(--card-color) !important;
  border: none;
}
.pill-3pRQlO:hover {
  background-color: var(--card-color-hover) !important;
}
.pill-3pRQlO.selected-24z1Ou {
  background-color: hsla(var(--accent-hsl), 0.3) !important;
}
.pill-3pRQlO.selected-24z1Ou:hover {
  background-color: hsla(var(--accent-hsl), 0.4) !important;
}

.container-2d0jMv {
  background-color: transparent;
}
.container-2d0jMv .menu-2TXYjN {
  min-width: unset;
}

.container-3kfp0r {
  background-color: transparent;
  border-radius: var(--popout-radius);
  box-shadow: none;
  overflow: hidden;
}
.container-3kfp0r:before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--popout-color);
  border-radius: var(--popout-radius);
  box-shadow: var(--popout-shadow);
  backdrop-filter: blur(var(--popout-blur));
  pointer-events: none;
  z-index: -1;
}

/* FORUM -> POSTS THREAD */
.chat-25x62K:before {
  display: none;
}

.iconWrapper-3FqQ75 {
  background-color: var(--card-color);
}

.container-3YcgdM {
  padding: 8px 16px;
  background-color: var(--card-color);
  border-radius: var(--card-radius);
  border: none;
}
.container-3YcgdM .button-ejjZWC,
.container-3YcgdM .addReactButton-3bSQb6 {
  height: 32px;
  background-color: var(--card-color);
  border: none;
}
.container-3YcgdM .button-ejjZWC:hover,
.container-3YcgdM .addReactButton-3bSQb6:hover {
  background-color: var(--card-color-hover);
}
.container-3YcgdM .button-ejjZWC .contents-3NembX {
  padding: 0 8px;
  background-color: transparent;
  border: none;
}

.divider-AZrXIA {
  display: none;
}

.box-2iMsQm {
  margin-top: 8px;
  background-color: var(--message-color);
}
.box-2iMsQm:after {
  border-top-color: var(--message-color);
}

/*
 *
 *  FORUM NEW POST
 *
 */
.container-JhuCwn.collapsed-23aTv6 {
  height: auto;
}
.container-JhuCwn.collapsed-23aTv6 .inputWrapper-2K8ds1 {
  margin-right: 8px;
}
.container-JhuCwn .titleContainer-2YK93J {
  min-height: 0;
}
.container-JhuCwn .contentContainer-2xwoXK {
  padding-left: 0;
  padding-right: 94px;
}
.container-JhuCwn .formContainer-1zrOWf {
  position: relative;
  display: block;
}
.container-JhuCwn .container-3Om6RL {
  position: absolute;
  top: 52px;
  right: 0;
}
.container-JhuCwn .container-3Om6RL .uploadInput-3fblkw {
  background-color: var(--card-color);
  border-radius: var(--card-radius);
  border: none;
}
.container-JhuCwn .container-3Om6RL .imageSmall-308hjB {
  border-radius: var(--card-radius);
}
.container-JhuCwn .container-3Om6RL .badge-39TqBS {
  background-color: hsl(var(--accent-hsl));
  border-width: 4px;
  color: var(--accent-text-color);
}
.container-JhuCwn .input-3O04eu {
  margin: 0;
  padding: 0 12px;
  height: var(--input-height);
  border-radius: var(--input-radius);
  background-color: rgba(var(--textarea-color), var(--textarea-alpha));
  border: none;
  color: var(--textarea-text-color);
  transition: var(--transition-time) var(--transition-type);
  line-height: var(--input-height);
}
.container-JhuCwn .input-3O04eu:focus {
  background-color: rgba(var(--textarea-color), var(--textarea-alpha-focus));
}
.container-JhuCwn .channelTextArea-1VQBuV {
  background-color: transparent;
}
.container-JhuCwn .channelTextArea-1VQBuV {
  margin: 16px 0 0;
}
.container-JhuCwn .channelTextAreaInner-2_mflx {
  --textarea-alpha: 0.1;
  padding: 8px 16px;
  background-color: rgba(var(--textarea-color), var(--textarea-alpha)) !important;
  border-radius: var(--textarea-radius);
  color: var(--textarea-text-color);
}
.container-JhuCwn .channelTextAreaInner-2_mflx::-webkit-input-placeholder {
  color: var(--textarea-placeholder-color);
}
.container-JhuCwn .mediaButton-3lZSdn {
  background-color: var(--button-color) !important;
  border: none !important;
}

/*
 *
 *  FORUM POSTS
 *
 */
.container-2qVG6q:hover,
.container-q2_DnH:hover {
  background-color: var(--card-color-hover);
  box-shadow: none;
  transform: none;
}

.bodyMedia-3UL0Kl,
.contentPreview-3fWiuC {
  border-radius: var(--message-radius);
}

.contentPreview-3fWiuC {
  background-color: var(--message-color);
  border: none;
}

.textContentFooter-2JnNv8 {
  background: none !important;
}

.reaction-102jx9 {
  background-color: var(--message-color);
  border-radius: var(--message-radius);
  border: none;
}
.reaction-102jx9:hover {
  background-color: var(--message-color);
}
.reaction-102jx9.reactionMe-2zhiyZ {
  background-color: hsla(var(--accent-hsl), 0.3);
  border-color: transparent;
}
.reaction-102jx9.reactionMe-2zhiyZ:hover {
  background-color: hsla(var(--accent-hsl), 0.4);
}
.reaction-102jx9.reactionMe-2zhiyZ .reactionCount-SWXh9W {
  color: hsla(var(--accent-hsl), var(--accent-opacity));
}

.pinIcon-zVODC5 {
  background-color: hsl(var(--accent-hsl));
}
.pinIcon-zVODC5 path {
  fill: var(--accent-text-color);
}

/*
 *
 *  BUTTONS
 *
 */
.button-ejjZWC {
  border-radius: var(--button-radius) !important;
}
.button-ejjZWC * {
  text-shadow: none;
}

.sizeSmall-3R2P2p,
.sizeMedium-2oH5mg,
.sizeLarge-2xP3-w,
.sizeXlarge-2GQ4VO {
  height: var(--button-height);
  min-height: var(--button-height);
  min-width: var(--button-height);
  padding: var(--button-padding);
}

.lookFilled-1H2Jvj,
.lookOutlined-3RTC7c,
.lookLink-13iF2K,
.lookInverted-2GrLaB {
  --button-background: hsla(var(--accent-hsl),var(--accent-opacity));
  --button-text-color: var(--accent-text-color);
  --button-outline: none;
  background-color: var(--button-background) !important;
  border: var(--button-outline) !important;
  color: var(--button-text-color) !important;
  border: var(--button-outline) !important;
  overflow: hidden;
}
.lookFilled-1H2Jvj:after,
.lookOutlined-3RTC7c:after,
.lookLink-13iF2K:after,
.lookInverted-2GrLaB:after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--button-action-color);
  opacity: 0;
  pointer-events: none;
  transition: var(--default-time) var(--default-animation) opacity;
}
.lookFilled-1H2Jvj:hover:after,
.lookOutlined-3RTC7c:hover:after,
.lookLink-13iF2K:hover:after,
.lookInverted-2GrLaB:hover:after {
  opacity: 0.075;
}
.lookFilled-1H2Jvj:active:after,
.lookOutlined-3RTC7c:active:after,
.lookLink-13iF2K:active:after,
.lookInverted-2GrLaB:active:after {
  opacity: 0.15;
}
.lookFilled-1H2Jvj .contents-3NembX,
.lookOutlined-3RTC7c .contents-3NembX,
.lookLink-13iF2K .contents-3NembX,
.lookInverted-2GrLaB .contents-3NembX {
  color: var(--button-text-color);
}
.lookFilled-1H2Jvj .contents-3NembX svg,
.lookOutlined-3RTC7c .contents-3NembX svg,
.lookLink-13iF2K .contents-3NembX svg,
.lookInverted-2GrLaB .contents-3NembX svg {
  filter: none;
}

.lookLink-13iF2K:hover .contents-3NembX {
  background-image: linear-gradient(0deg, transparent, transparent 1px, hsl(var(--accent-hsl)) 0, hsl(var(--accent-hsl)) 2px, transparent 0) !important;
}

.colorable-3rVGna {
  --button-background: var(--background-modifier-hover);
  --button-text-color: #fff;
  --button-radius: 50%;
  background-color: var(--button-background) !important;
  color: var(--button-text-color) !important;
}
.colorable-3rVGna:after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--button-action-color);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: var(--default-time) var(--default-animation) opacity;
}
.colorable-3rVGna:hover:after {
  opacity: 0.075;
}
.colorable-3rVGna:active:after {
  opacity: 0.15;
}
.colorable-3rVGna.primaryDark-2UJt1G {
  --button-background: hsla(var(--accent-hsl),var(--accent-opacity));
  --button-text-color: var(--accent-text-color);
}
.colorable-3rVGna.red-3T8maV {
  --button-background: hsla(var(--alert-hsl),var(--alert-opacity));
  --button-text-color: var(--alert-text-color);
}
.colorable-3rVGna.white-11auuQ {
  --button-background: #fff;
  --button-text-color: #060607;
}
.colorable-3rVGna.primaryLight-1yA273 {
  --button-text-color: #060607;
}
.colorable-3rVGna.activeLight-3Bpdpx {
  --button-background: var(--background-modifier-active);
  --button-text-color: #060607;
}
.colorable-3rVGna .centerIcon-JYpTUi {
  color: var(--button-text-color) !important;
}

.lookLink-13iF2K {
  --button-background: transparent;
  --button-text-color: hsla(var(--accent-hsl),var(--accent-opacity));
  --button-action-color: transparent;
}

.colorRed-2VFhM4 {
  --button-background: hsla(var(--alert-hsl),var(--alert-opacity));
  --button-text-color: var(--alert-text-color);
  --button-action-color: var(--alert-action-color);
}

.questionMark-3V9mGJ {
  background-color: hsla(var(--accent-hsl), var(--accent-opacity));
  border-radius: 50%;
}
.questionMark-3V9mGJ .icon-3JHfo7 {
  color: var(--accent-text-color);
  filter: none;
}

/*
 *
 *  CARDS
 *
 */
.card-16VQ8C,
.cardPrimary-pAe8Ed,
.backgroundAccent-2YeFtZ {
  background-color: var(--card-color) !important;
  border-radius: var(--card-radius) !important;
  border: none !important;
}

.button-1yVL_7 {
  background-color: var(--card-color) !important;
}
.button-1yVL_7:hover {
  background-color: var(--card-color-hover) !important;
}

.cardWrapper-1bSePP {
  background-color: var(--card-color);
  border-radius: var(--card-radius);
  border: none;
}
.cardWrapper-1bSePP:hover {
  background-color: var(--card-color-hover);
  border: none;
}

.card-2xlCYc:hover {
  background-color: transparent;
}

.upsellContainer-2a5eMP {
  background-color: var(--card-color);
  border-radius: var(--card-radius);
  border: none;
}
.upsellContainer-2a5eMP .upsellFooter-3M1V33 {
  background-color: transparent;
}

.dropsHelpText-1HyiYF,
.promotionCard-mo7ClH {
  background-color: var(--card-color);
  border-radius: var(--card-radius);
  border: none;
}

/*
 *
 *  CHECKBOXES
 *
 */
.checkbox-1LuCGM {
  border-color: hsla(var(--accent-hsl), var(--accent-opacity));
}
.checkbox-1LuCGM.checked-22NTbO {
  background-color: hsla(var(--accent-hsl), var(--accent-opacity)) !important;
  border-color: hsla(var(--accent-hsl), var(--accent-opacity)) !important;
}
.checkbox-1LuCGM.checked-22NTbO path {
  fill: var(--accent-text-color) !important;
}

/*
 *
 *  INPUTS
 *
 */
.input-3O04eu,
.copyInput-3AbKWB {
  height: var(--input-height);
  border-radius: var(--input-radius);
  background-color: rgba(var(--textarea-color), var(--textarea-alpha));
  border: none;
  color: var(--textarea-text-color);
  transition: var(--transition-time) var(--transition-type);
}
.input-3O04eu:focus,
.copyInput-3AbKWB:focus {
  background-color: rgba(var(--textarea-color), var(--textarea-alpha-focus));
}
.input-3O04eu::-webkit-input-placeholder,
.copyInput-3AbKWB::-webkit-input-placeholder {
  color: var(--textarea-placeholder-color);
}
.input-3O04eu.multiInput-1VARjC,
.copyInput-3AbKWB.multiInput-1VARjC {
  background-color: transparent;
}

.multiInput-1VARjC .inputWrapper-2K8ds1 {
  margin-right: 8px;
}

.multiInputLast-35zVz0:before {
  display: none;
}

.fileUploadInput-3Y6j6T {
  width: auto;
}

.fileUploadButton-2zOQcO {
  padding: 0 12px;
}

/* INPUTS -> OPTION PILLS */
.optionPill-2kmuZR {
  background-color: var(--textarea-block-color) !important;
  border-radius: var(--button-radius);
  border-color: transparent !important;
}
.optionPill-2kmuZR.selectedPill-3cOyS6 {
  border-color: hsl(var(--accent-hsl)) !important;
}
.optionPill-2kmuZR.erroredPill-EdxhQP {
  border-color: hsl(var(--alert-hsl)) !important;
}
.optionPill-2kmuZR .optionPillKey-2JyeoP {
  background-color: var(--textarea-block-color) !important;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
	--font-primary: "SF Pro Display","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  --font-display: "SF Pro Display","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  /*
   * ~~DO NOT TOUCH~~
   * Removing this will display an annoying update banner.
   */
  --update-notice-1: none;
}
